set autoindent
set constantshow
set fill 72
set historylog
set multibuffer
set nohelp
set nowrap
set positionlog
set quickblank 
set regexp
#set suspend
include /usr/share/nano/*.nanorc
include /usr/share/nano/extra/*.nanorc
